<<<<<<< HEAD
{% extends "BlogWeb::layout.html.twig" %}
=======
{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Contact form" %}
>>>>>>> 4cdecb63d7d8f9b7b161644f3df46621900f3d91

{% block content %}
    <form action="" method="POST">
        {{ form_field(form) }}
        <input type="submit" value="Send" />
    </form>
{% endblock %}
