{% if currentUser %}
	{% block userPanel %}
		<div id="userPanel">
			Hi, <strong><a href="{{ path('_users_show', {'uid': currentUser.id}) }}">{{ currentUser }}</a></strong>
		</div>
	{% endblock %}
{% endif %}